AGU_AGENT_AGU_ROOT=/Users/ppt/projects/agu
AGU_AGENT_PYTHON_BIN=python
AGU_AGENT_AGU_API_URL=http://127.0.0.1:8765
AGU_AGENT_POLL_INTERVAL_SEC=2
AGU_AGENT_TIMEOUT_SEC=1800
AGU_AGENT_HOST=127.0.0.1
AGU_AGENT_PORT=8787
AGU_AGENT_LLM_ENABLED=true
AGU_AGENT_OLLAMA_HOST=http://127.0.0.1:11434
AGU_AGENT_OLLAMA_MODEL=qwen3-vl:4b
AGU_AGENT_OLLAMA_TIMEOUT_SEC=180
